<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message|escape }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <label for="">Email</label>
        <input type="email" name="email" id="" required>
        <label for="">password</label>
        <input type="password" name="password" required>
        <button type="submit">login</button>
    </form>

    <a href="{% url 'resend_acc' %}">reactivate link</a>
</body>
</html>